[user]
  name = Jaime Gaona
  email = jaimegaona@gmail.com
[core]
  editor = vim
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[web]
  browser = google-chrome
[credential]
  helper = osxkeychain
[push]
  default = simple
[merge]
  tool = vimdiff
[difftool]
  prompt = true
[alias]
  aA = add -A
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  d = diff
  dc = diff --cached
  l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
